<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head2 do %>
    <%= stylesheet_link_tag '/images/img/icsw2_32/icsw2_32' %>
<% end %>
<div class="container">
  <ul id="breadcrumbs">
    <li><a href="<%= url_for (:controller => "user", :action => "dashboard")%>"><i class="icon-home"></i></a></li>
    <li><a href="<%= url_for (:controller => "configuration")%>"><%= t('configuration_text') %></a></li>
    <li><a href="<%= url_for (:controller => "courses")%>"><%= t('courses_text') %></a></li>
    <li><%=  link_to @course.full_name, @course %></li>
    <li><%= t('batch') %> <%= @batch.name %></li>


  </ul>
</div>
<!--<div id="content-header">
  <%= image_tag("/images/show_settings.png") %>
  <h1><%= t('courses_text') %></h1>
  <h3><%= t('batches_text') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>-->

<!--<div id="inner-tab-menu">
  <ul>
    <%  if permitted_to? :index,:exam_groups and @batch.allow_exam_acess(@current_user)%>
      <li><%= link_to "#{t('exams_text')}", batch_exam_groups_path(@batch) %> </li>
    <% end %>

    <li><%= link_to "#{t('edit_text')}", edit_course_batch_path(@course, @batch) %></li>
    <li><%= link_to("#{t('delete_text')}", [@course, @batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %></li>


    <li>
      <a href="#" class="drops" id="link_one"><%= t('manage') %> &#9660;</a>
      <ul id="box_one" class="scriptaculously" style="display:none;">
        <li><%= link_to "#{t('subject')}", :controller=>"batch_transfers", :action=>'subject_transfer', :id=>@batch %></li>
        <li><%= link_to "#{t('electives')}", batch_elective_groups_path(@batch) %></li>
        <li><%= link_to "#{t('assign_tutor')}",:action=>'assign_tutor', :id=>@batch %></li>
      </ul>
    </li>
  </ul>
</div>-->
<div id="page-yield">
  <div class="container">
  <% unless flash[:notice].nil? %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-info">
            <a data-dismiss="alert" class="close">×</a>
            <strong> <%= flash[:notice]  %> </strong>
          </div>
        </div>
      </div>
  <% end %>

  <% unless flash[:warn_notice].nil? %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-error">
            <a data-dismiss="alert" class="close">×</a>
            <strong>%= flash[:warn_notice] %> </strong>
          </div>
        </div>
      </div>
  <% end %>

  <% unless flash[:subject_import].nil? %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-info">
            <a data-dismiss="alert" class="close">×</a>
            <strong><%= t('subject_transfer_message') %>:<br /> <%= flash[:subject_import].join("")%></strong>
          </div>
        </div>
      </div>
  <% end %>

  <% unless flash[:no_subject_error].nil? %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-error">
            <a data-dismiss="alert" class="close">×</a>
            <strong><%= flash[:no_subject_error] %></strong>
          </div>
        </div>
      </div>
  <% end %>

  <% unless flash[:fees_import].blank? %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-info">
            <a data-dismiss="alert" class="close">×</a>
            <strong><%= t('fee_import_message') %>:<br /> <%= flash[:fees_import].join("")%></strong>
          </div>
        </div>
      </div>
  <% end %>

  <% if @fee_import_error %>
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-error">
            <a data-dismiss="alert" class="close">×</a>
            <strong><%= t('no_fee_import_message') %></strong>
          </div>
        </div>
      </div>
  <% end %>
    <div class="row-fluid">
      <div class="span6">
        <div class="mbox_toolbar clearfix">
          <%  if permitted_to? :index,:exam_groups and @batch.allow_exam_acess(@current_user)%>
             <%= link_to "<i class='icsw32-create-write'></i><span>#{t('exams_text')}</span>".html_safe, batch_exam_groups_path(@batch) %>
          <% end %>
          <%= link_to "<i class='icsw32-pencil'></i><span>#{t('edit_text')}</span>".html_safe,edit_course_batch_path(@course, @batch) %>
          <%= link_to ("<i class='icsw32-trashcan'></i><span>#{t('delete_text')}</span>".html_safe,  [@course, @batch], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") %>


        </div>
      </div>
      <div class="span6">
        <div class="mbox_toolbar pull-right clearfix">

          <%= link_to "<i class='icsw32-create-write'></i><span>#{t('subject')}</span>".html_safe,:controller=>"batch_transfers", :action=>'subject_transfer', :id=>@batch %>

          <%= link_to "<i class='icsw32-create-write'></i><span>#{t('electives')}</span>".html_safe,  batch_elective_groups_path(@batch) %>
          <%= link_to "<i class='icsw32-create-write'></i><span>#{t('assign_tutor')}</span>".html_safe,  :action=>'assign_tutor', :id=>@batch %>

        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="w-box w-box-blue">
          <div class="w-box-header">
            <h4><%= @course.full_name %></h4>
            <i class="pull-right icon-mail"></i>
          </div>
          <div class="w-box-content">
  <div class="box">
    <!--<div class="bread_crumb">
      <%= link_to "#{t('courses_text')}", courses_path %> &raquo;
      <%= link_to @course.full_name, @course %> &raquo;
      <%= t('batch') %> <%= @batch.name %>
    </div>-->


    <table class="table">
      <thead>
      <tr>
        <td><%= t('sl_no') %></td>
        <td><%= t('name') %></td>
        <td><%= t('admission_number') %></td>
      </tr>
      </thead>
      <tbody>
      <% @slno = 0 %>
      <% @students.each do |student| %>
        <% @slno= @slno + 1 %>
        <tr >
          <td ><%=  @slno %></td>
          <td ><%= link_to student.full_name,{:controller=>'student',:action=>'profile',:id=>student.id} %></td>
          <td ><%= student.admission_no %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="extender"></div>
  </div>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>

